<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cgi.gaswarnings"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="18" />
    
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.INTERNET" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.cgi.activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cgi.activities.GraphsActivity"
            android:label="@string/title_activity_graphs" >
        </activity>
        <activity
            android:name="com.cgi.activities.WarningsActivity"
            android:label="@string/title_activity_warnings" >
        </activity>

        <service
            android:name="com.cgi.services.WarningsService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <receiver
            android:name="com.cgi.services.MyReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>
    </application>

</manifest>
